body{
    width:100%;
    margin:0;
    font-family: sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
    font-size: 16px;
    padding: 0;
}

* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }


.shopping-cart{
    width: 25px;
    padding-top: 5%;
}

h1,h3,h4,h5{
    font-family: sans-serif;
}

/* h3,h5{
    font-weight: normal;
} */

nav{
    top:0;
    height: 75px;    
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 10px;
}

.cart,.lang,.log,.category{
    flex: 1;
}
.category{
    margin-right: 10px;
}

#category:hover, #Udemy-business:hover, #teach:hover{
    color: #5022c3;
}

nav div{
    flex:2;
    display: block;
    height: 45px;
    text-align: center;
    color: black;
}

nav a{
    text-decoration: none;
    color: black;
}

.span {
    padding-top: 25px;
    white-space: nowrap;
}


.form{
    border: 1px solid rgba(0, 0,0,0.6);
    border-radius: 60px;
    padding-top: 12px;
    height: 35px;
    margin-top: 0;
    flex: 10;
    background-color:#f7f9fa ;
}
input[type="text"]{
    border: none;
    background-color: #f7f9fa;
    width: 80%;
    height: 20px;
    padding-right: 5%;
    font-size: 15px;
}



button:hover{
    cursor:pointer;
}

.search{
    color: rgb(200, 200,200);
}

button[type="submit"]{
    background-color:#f7f9fa ;
    border: none;
}

.icon{
    padding-top: 10px;
}

.login{
    height: 42px;
    width: 92px;
    font-family: sans-serif;
    font-size: 17px;
    display: block;
    background-color: white;
    border: 1px solid rgba(0, 0,0,0.8);
    color: black;
}

.login:hover{
    background-color: #f7f9fa;
}

.black{
    height: 42px;
    width: 92px;
    background-color: #1c1d1f;
    color: white;
}

.black:hover {
    background-color: black;
}

.hidden{
    display: none;
}

.logo{
    height: 77%;
}



/* header after navbar */

.top {
    position: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px 112px;
    font-size: 	12.8px;
    background-color: #f8f9fb;
}

.above{
    padding-bottom: 12.8px;
    padding-left: 11.2px;
    margin-top: -100px;
    background-color: white;
    height: 30%;
    width: 30%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.side{
    width: 640px;
}

.inside{
    font-family: serif;
    font-size: 40px;
}


/* End of CSS header after navbar */


.selection-courses{
padding: 25px;
}

.Courses-list-above{
display: flex;
flex-wrap: wrap;
}



.title-above{
    padding-left: 50px;
    font-family: serif;
    font-weight: bold;
    font-size: 45px;
    margin: 0;

}

.paragraph-after-title{
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 50px;
}

.Courses-list-above .listOfCourses{
font-family: sans-serif;
font-weight: bold;
padding:10px;
color: gray;
}

.Courses-list-above a{
    text-decoration: none;
}

.active{
color: black !important;
}


.header-of-Courses-view{
width:55%;
}

.header-of-Courses-view div{
padding: 10px;
}

.header-of-Courses-view .title{
font-size: 25px;
font-weight: bold;
}

.header-of-Courses-view .details{
color: gray
}


html {
    font-family: sans-serif;
    font-size: 62.5%;
}



.main {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}


.courses {
    margin-bottom: 6.4rem;
}

.courses-header {
    padding: 0 2.4rem;
}

.courses-header-h1 {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: -.05rem;
    line-height: 1.25;
}

.courses-header-msg {
    margin-top: 0.8rem;
    max-width: 80rem;
    font-size: 1.9rem;
    line-height: 1.4;
}

.topics {
    padding: 0 24px;
    display: flex;
    height: 48px;
    overflow: hidden;
}

.topic-button {
    background-color: white;
    border-style: none;
    color: #6a6f73;
    margin-right: 16px;
    min-width: fit-content;
    padding: 0.8rem 0.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
}

.categories{
    display: none;
}


.topic-button:hover {
    color: black;
}

.topic-button-active {
    color: black;
}

.courses-content {
    padding: 3.2rem;
    border-width: 1px;
    border-style: solid;
    margin: 0 2.4rem;
    border-color: #d1d7dc;
}

.courses-content-head h2 {
    margin-bottom: 0.8rem;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.courses-content-head p {
    max-width: 80rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
}

.courses-content-head {
    margin-bottom: 3.2rem;
}

.gnrl-btn {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    color: black;
    height: 4rem;
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
    margin-top: 1.6rem;
}

.gnrl-btn:hover {
    background-color: rgba(0, 0, 0, .04);
}


.course-img{
    border:1px solid rgb(214, 214, 214);
}

.course-item {
    padding: 5px;
    width: 330px;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
}

.course-item h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    min-height: 3.8rem;
    max-height: 3.8rem;
    overflow: hidden;
    padding-bottom: 5px;
}

.author {
    font-size: 1.rem;
    color: #1c1d1f;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 1.68rem;
}

.star img {
    height: 1.4rem;
}

.rating {
    display: flex;
    margin-bottom: 0.4rem;
}

.rating-score {
    color: #b4690e;
    font-weight: 700;
    margin-right: 0.4rem;
    font-size: 1.8rem;
}

.rating-n {
    margin-left: 0.4rem;
    font-size: 1.5rem;
    color: #6a6f73;
}

.price {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.bestseller {
    background-color: #eceb98;
    color: #3d3c0a;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex !important;
}

.carousel-control-prev {
    background-color: black !important;
    width: 4rem !important;
    height: 4rem;
    border-radius: 50%;
    top: 16% !important;
    left: -2% !important;
}

.carousel-control-next {
    background-color: black !important;
    width: 4rem !important;
    height: 4rem;
    border-radius: 50%;
    top: 16% !important;
    right: -2% !important;
}

p {
    margin-bottom: 0 !important;
}

/* categories */

.container h2{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.categories-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
    cursor: pointer;
}

.category{
    display: grid;
    place-content: center;
    flex: 1;
    margin: .5rem;
}

.category-title{
    font-weight: 500;
    margin-top: .5rem;
}

.category-img{
    transition: transform 150ms ease-in;
}


.category-img:hover{
    transform: scale(1.03);
}


/* End of courses css */



@media screen and (max-width:1500px){
    .shown1{
        display: none;
    }

}

@media screen and (max-width:1200px){
    .shown2{
        display: none;
    }

}

@media screen and (max-width:1000px){
    .header{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
    }

    .headernav{
        box-shadow: 0 0;
        width: 60%;
        margin-top: 0px;
    }



    .header-of-Courses-view{
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: unset;
    }

    .title-above, .paragraph-after-title, .Courses-list-above{
        padding: 0;
    }

    .shown{
        display: none;
    }
    .hidden{
        display: block;
    }
    nav{
        justify-content: center;
        padding-left: 0;
    }
    .cart{
        flex: 3;
    }

    .udemy{
        flex:15;
        padding-left: 15%;
    }

    .tab-pane-content .details{
        width: 100%;
    }
}


@media screen and (max-width: 750px) {

    .container h2{
        justify-content: center;
        margin-left: 150px;
    }


    .topics{
        display: block;
        height: 70px;
    }

    .courses-content{
        margin-top: 10px;
    }

    .headerphoto{
        width: 100px;
    }

    .headernav{
        width: 70%;
    }

    .header{
        margin: 0;
    }

    .tab-pane-content .details{
        width: 100%;
    }
    
}

