body{
    width:100%;
    margin:0;
    font-family: sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
}

.shopping-cart{
    width: 25px;
    padding-top: 5%;
}

h1,h2,h3,h4,h5{
    font-family: sans-serif;
}

h3,h5{
    font-weight: normal;
}

nav{
    top:0;
    height: 75px;    
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 10px;
}

.cart,.lang,.log,.category{
    flex: 1;
}
.category{
    margin-right: 10px;
}

#category:hover, #Udemy-business:hover, #teach:hover{
    color: #5022c3;
}

nav div{
    flex:2;
    display: block;
    height: 45px;
    text-align: center;
    color: black;
}

nav a{
    text-decoration: none;
    color: black;
}

.span{
    padding-top: 25px;
}


.form{
    border: 1px solid rgba(0, 0,0,0.6);
    border-radius: 60px;
    padding-top: 12px;
    height: 35px;
    margin-top: 0;
    flex: 10;
    background-color:#f7f9fa ;
}
input[type="text"]{
    border: none;
    background-color: #f7f9fa;
    width: 80%;
    height: 20px;
    padding-right: 5%;
    font-size: 15px;
}



button:hover{
    cursor:pointer;
}

.search{
    color: rgb(200, 200,200);
}

button[type="submit"]{
    background-color:#f7f9fa ;
    border: none;
}

.icon{
    padding-top: 10px;
}

.login{
    height: 42px;
    width: 92px;
    font-family: sans-serif;
    font-size: 17px;
    display: block;
    background-color: white;
    border: 1px solid rgba(0, 0,0,0.8);
    color: black;
}

.login:hover{
    background-color: #f7f9fa;
}

.black{
    height: 42px;
    width: 92px;
    background-color: #1c1d1f;
    color: white;
}

.black:hover {
    background-color: black;
}

.hidden{
    display: none;
}

.logo{
    height: 77%;
}

/* header after navbar */

.header {
    position: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px 112px;
    font-size: 	12.8px;
    background-color: #f8f9fb;
}

.headernav{
    padding-bottom: 12.8px;
    padding-left: 11.2px;
    margin-top: -160px;
    background-color: white;
    height: 30%;
    width: 30%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.headerphoto{
    width: 640px;
}

.New-to-udemy{
    font-family: serif;
    font-size: 40px;
}


/* End of CSS header after navbar */

/* Courses */
.Courses{
padding: 25px;
}

.Courses-list-above{
display: flex;
flex-wrap: wrap;
}

.title-above{
    padding-left: 50px;
    font-family: serif;
    font-weight: bold;
    font-size: 45px;
    margin: 0;

}

.paragraph-after-title{
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 50px;
}

.Courses-list-above .listOfCourses{
font-family: sans-serif;
font-weight: bold;
padding:10px;
color: gray;
}

.active{
color: black !important;
}

.Courses-view{
font-family: sans-serif;
border: 1px solid rgb(187, 187, 187);
padding: 10px;
}

.header-of-Courses-view{
width:55%;
}

.header-of-Courses-view div{
padding: 10px;
}

.header-of-Courses-view .title{
font-size: 25px;
font-weight: bold;
}

.header-of-Courses-view .details{
color: gray
}

.Explore-button{
font-weight: bold;
padding:10px;
margin: 10px 0;
cursor: pointer;
border:1px solid black;
background-color: white;
color:black;
}

.first-course{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;

}

.card-img img{
width:100%;
border:1px solid rgb(214, 214, 214);
}

.card{
margin:0 5px;
width:249px;
}

.card-info div{
padding:5px 0 0 0;
font-weight: bold;
}

.card-info .card-title{
padding:10px 0 0 0;
}

.card-info .card-auther{
font-size: 15px;
color:gray;
font-weight: 100;
}

.checked {
color: #f4c150;
}

.students {
color: gray;
font-family: Arial, Helvetica, sans-serif;
}

a {
text-decoration: none;
color: inherit;
}

li {
list-style: none;
}

/* End of courses css */



@media screen and (max-width:1500px){
    .shown1{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .shown2{
        display: none;
    }

}

@media screen and (max-width:1000px){
    .header{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .headernav{
        box-shadow: 0 0;
        width: 100%;
        margin-top: 0px;
    }


    .first-course{
        padding: 0;
    }

    .header-of-Courses-view{
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: unset;
    }

    .title-above, .paragraph-after-title, .Courses-list-above{
        padding: 0;
    }

    .shown{
        display: none;
    }
    .hidden{
        display: block;
    }
    nav{
        justify-content: center;
        padding-left: 0;
    }
    .cart{
        flex: 3;
    }

    .udemy{
        flex:15;
        padding-left: 15%;
    }

}


@media screen and (max-width: 750px) {
    .headerphoto{
        width: 100px;
    }

    .headernav{
        width: 70%;
    }

    
}

